
{%- block _sce_userbundle_jen_disciplines_entry_widget -%}
	{% if expanded %}
		{{- block('choice_widget_expanded') -}}
	{% else %}
		{{- block('choice_widget_collapsed') -}}
	{% endif %}
{%- endblock _sce_userbundle_jen_disciplines_entry_widget -%}

{%- block choice_widget_expanded -%}
	<div {{ block('widget_container_attributes') }}>
	{%- for child in form %}
		{{- form_widget(child) -}}
		{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
	{% endfor -%}
	</div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
	{%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
		{% set required = false %}
	{%- endif -%}
	<div class="form-group">
		<select class="form-control js-example-placeholder-multiple" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
			{%- if placeholder is not none -%}
				<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
			{%- endif -%}
			{%- if preferred_choices|length > 0 -%}
				{% set options = preferred_choices %}
				{{- block('choice_widget_options') -}}
				{%- if choices|length > 0 and separator is not none -%}
					<option disabled="disabled">{{ separator }}</option>
				{%- endif -%}
			{%- endif -%}
			{%- set options = choices -%}
			{{- block('choice_widget_options') -}}
		</select>
	</div>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
	{% for group_label, choice in options %}
		{%- if choice is iterable -%}
			<optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
				{% set options = choice %}
				{{- block('choice_widget_options') -}}
			</optgroup>
		{%- else -%}
			<option value="{{ choice.value }}"{% if choice.attr %} {% set attr = choice.attr %}{{ block('attributes') }}{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
				{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
		{%- endif -%}
	{% endfor %}
{%- endblock choice_widget_options -%}