{% block _sce_userbundle_jen_missions_entry_widget %}
	<div class="col-xs-12">
		<div class="box-body">
			<div class="form-group">
				{{ form_label(form.titre) }}
				{{ form_widget(form.titre, { 'attr': {'placeholder' : 'Titre', 'readonly' : 'true'}} ) }}
				{{ form_errors(form.titre) }}
			</div>
			<div class="form-group">
				{{ form_label(form.contexteScenaristique) }}
				{{ form_widget(form.contexteScenaristique, { 'attr': {'placeholder' : 'Contexte Scenaristique'} }) }}
				{{ form_errors(form.contexteScenaristique) }}
			</div>
			<div class="form-group">
				{{ form_label(form.descriptif) }}
				{{ form_widget(form.descriptif, { 'attr': {'placeholder' : 'Descriptif'} }) }}
				{{ form_errors(form.descriptif) }}
			</div>
			<div class="form-group">
				{{ form_label(form.ludification) }}
				{{ form_widget(form.ludification, { 'attr': {'placeholder' : 'Ludification'} }) }}
				{{ form_errors(form.ludification) }}
			</div>
			<div class="form-group">
				{{ form_label(form.authenticite) }}
				{{ form_widget(form.authenticite, { 'attr': {'placeholder' : 'Authenticite'} }) }}
				{{ form_errors(form.authenticite) }}
			</div>
			<div class="form-group">
				{{ form_label(form.immersion) }}
				{{ form_widget(form.immersion, { 'attr': {'placeholder' : 'Immersion'} }) }}
				{{ form_errors(form.immersion) }}
			</div>
			<div class="form-group">
					{{ form_widget(form.images)}}
					{{ form_errors(form.images) }}
			</div>
			<div class="form-group">
				{{ form_rest(form) }}
			</div>
		</div>
		<div class="box-footer">
			<button class="btn btn-primary nextBtn" type="button" >Suivant</button>
		</div>
	</div>
{% endblock %}

{% block _sce_userbundle_jen_missions_entry_images_entry_widget %}
	<div class="form-group">
		<div class="input-group">
			<label class="input-group-btn">
				<span class="btn btn-primary">
					Parcourir… 
					{{ form_widget(form.file, { 'attr': {'style': 'display: none;'} }) }}
					{{ form_errors(form.file) }}
				</span>
			</label>
			<input type="text" class="form-control" readonly="">
			<label class="input-group-btn">
				<span id="imageDeleteLink" class="btn btn-danger">
					<div></div>
					Supprimer 
				</span>
			</label>
		</div>
	</div>
{% endblock %}

{%- block form_widget_simple -%}
		{%- set type = type|default('text') -%}
		<input type="{{ type }}" class ='form-control' {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
	<textarea class ='form-control' {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}


