{% extends 'base.html.twig' %}

{% block aside %}
    <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                    </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
            <a href="#">
            <i class="fa fa-dashboard"></i> <span>JEN</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li>
                <a href="{{ path('jen_new') }}"><i class="fa fa-circle-o"></i> Nouveau Jen</a>
            </li>
            <li>
                <a href="{{ path('jen_index') }}"><i class="fa fa-circle-o"></i> Liste Jen</a>
            </li>
            </ul>
        </li>

        <li class="active treeview">
            <a href="#">
            <i class="fa fa-pie-chart"></i> <span>Discipline</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li>
                <a href="{{ path('discipline_new') }}"><i class="fa fa-circle-o"></i> Ajouter un discipline</a>
            </li>
            <li class="active">
                <a href="{{ path('discipline_index') }}"><i class="fa fa-circle-o"></i> Liste des disciplines</a>
            </li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
            <i class="fa fa-users"></i> <span>Communauté</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li>
                <a href="{{ path('communaute_new') }}"><i class="fa fa-circle-o"></i> Ajouter un communauté</a>
            </li>
            <li>
                <a href="{{ path('communaute_index') }}"><i class="fa fa-circle-o"></i> Liste des communautés</a>
            </li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
            <i class="fa fa-money"></i> <span>Carte JEN</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li>
                <a href="{{ path('cartejen_new') }}"><i class="fa fa-circle-o"></i> Ajouter un carte JEN</a>
            </li>
            <li>
                <a href="{{ path('cartejen_index') }}"><i class="fa fa-circle-o"></i> Liste des cartes Jen</a>
            </li>
            </ul>
        </li>


        </ul>
    </section>
    <!-- /.sidebar -->
    </aside>
{% endblock %}

{% block body %}
    <h1>Discipline edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('discipline_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
