{% extends 'base.html.twig' %}
{% form_theme form "UserBundle:Form:fields.html.twig" %}
{% block body %}
		<h1>Mission creation</h1>

		{{ form_start(form) }}
			<div class="col-md-8">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Mission</h3>
					</div>
					<form role="form">
						<div class="box-body">
							<div class="form-group">
								{{ form_label(form.titre) }}
								{{ form_widget(form.titre, { 'attr': {'class': 'form-control', 'placeholder' : 'Titre'} }) }}
								{{ form_errors(form.titre) }}
							</div>
							<div class="form-group">
								{{ form_label(form.contexteScenaristique) }}
								{{ form_widget(form.contexteScenaristique, { 'attr': {'class': 'form-control', 'placeholder' : 'Contexte Scenaristique'} }) }}
								{{ form_errors(form.contexteScenaristique) }}
							</div>
							<div class="form-group">
								{{ form_label(form.descriptif) }}
								{{ form_widget(form.descriptif, { 'attr': {'class': 'form-control', 'placeholder' : 'Descriptif'} }) }}
								{{ form_errors(form.descriptif) }}
							</div>
							<div class="form-group">
								{{ form_label(form.ludification) }}
								{{ form_widget(form.ludification, { 'attr': {'class': 'form-control', 'placeholder' : 'Ludification'} }) }}
								{{ form_errors(form.ludification) }}
							</div>
							<div class="form-group">
								{{ form_label(form.authenticite) }}
								{{ form_widget(form.authenticite, { 'attr': {'class': 'form-control', 'placeholder' : 'Authenticite'} }) }}
								{{ form_errors(form.authenticite) }}
							</div>
							<div class="form-group">
								{{ form_label(form.immersion) }}
								{{ form_widget(form.immersion, { 'attr': {'class': 'form-control', 'placeholder' : 'Immersion'} }) }}
								{{ form_errors(form.immersion) }}
							</div>
							
							<div class="form-group">
								{{ form_widget(form.images)}}
								{{ form_errors(form.images) }}
							</div>
							<div class="form-group">
								{{ form_rest(form) }}
							</div>
						</div>
						<div class="box-footer">
							<div>
								<input type="submit" value="Create" />
							</div>
							<div>
								<a href="{{ path('mission_index') }}">Back to the list</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		{{ form_end(form) }}
{% endblock %}


{% block javascript %}
	<script type="text/javascript">
	
		$(document).ready(function() {
			// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
			var $container = $('div#sce_userbundle_mission_images');

			// On ajoute un lien pour ajouter une nouvelle catégorie
			var $addLink = $('<a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>');
			$container.append($addLink);

			// On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
			$addLink.click(function(e) {
				addImage($container);
				e.preventDefault(); // évite qu'un # apparaisse dans l'URL
				return false;
			});

			// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
			var index = $container.find(':input').length;

			// On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
			if (index == 0) {
				addImage($container);
			} else {
					index=(index/2)-1;
				// Pour chaque catégorie déjà existante, on ajoute un lien de suppression
				$container.children('div').each(function() {
					addDeleteLink($(this));
				});
			}

			// La fonction qui ajoute un formulaire Categorie
			function addImage($container) {
				// Dans le contenu de l'attribut « data-prototype », on remplace :
				// - le texte "__name__label__" qu'il contient par le label du champ
				// - le texte "__name__" qu'il contient par le numéro du champ
				var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'N°' + (index+1))
						.replace(/__name__/g, index));

				// On ajoute au prototype un lien pour pouvoir supprimer la catégorie
				addDeleteLink($prototype);

				// On ajoute le prototype modifié à la fin de la balise <div>
				$container.append($prototype);

				// Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
				index++;
			}

			// La fonction qui ajoute un lien de suppression d'une catégorie
			function addDeleteLink($prototype) {
				// Création du lien
				$deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

				// Ajout du lien
				$prototype.append($deleteLink);

				// Ajout du listener sur le clic du lien
				$deleteLink.click(function(e) {
					$prototype.remove();
					e.preventDefault(); // évite qu'un # apparaisse dans l'URL
					return false;
				});
			}
		});
	
	</script>
{% endblock %}

