{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mission</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mission.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ mission.titre }}</td>
            </tr>
            <tr>
                <th>Contextescenaristique</th>
                <td>{{ mission.contexteScenaristique }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ mission.descriptif }}</td>
            </tr>
            <tr>
                <th>Ludification</th>
                <td>{{ mission.ludification }}</td>
            </tr>
            <tr>
                <th>Authenticite</th>
                <td>{{ mission.authenticite }}</td>
            </tr>
            <tr>
                <th>Immersion</th>
                <td>{{ mission.immersion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mission_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mission_edit', { 'id': mission.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
